<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Search System</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="search-area" style="gap: 10px">
            <h2>Find Decklist Images</h2>
            <textarea id="decklistSearch" placeholder="Enter decklist or upload a file..." rows="2"></textarea>
            <!-- <input type="file" id="decklistFile" accept=".txt"> -->
            <textarea id="deckName" rows="1"  placeholder="Enter decklist name, without whitespaces."></textarea>
            
            <!-- <label for="keepLocal">
                <input type="checkbox" id="keepLocal" name="locally"/>Keep a local copy
            </label>             -->
            
            <button id="searchButton" onclick="searchDecklist()" class="nav-btn">   
                <span id="buttonText">Search Decklist</span>
                <div id="loadingSpinner" class="spinner" style="display: none;"></div>
            </button>
            
            <button onclick="window.location.href='{{ url_for('ready_decks') }}'" class="nav-btn" style="margin-top: 10px;">View Available Decks</button>


        </div>
    </div>
    <div id="notification" class="notification"></div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <button class="help-button" onclick="window.location.href='/help'">?</button>

</body>
</html>
