<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Decks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="search-area">
            <h2>Available Decks</h2>
            {% if decks == "Let's create your first deck!" %}
                <div class="deck-item">
                    <p>{{ decks }}</p>
                </div>
            {% else %}
                <ul class="deck-list">
                    {% for deck in decks %}
                    <li class="deck-item">
                        <span>{{ deck }}</span>
                        <a href="{{ url_for('download_deck', filename=deck) }}" class="download-btn">Download</a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
                <button onclick="cleanFolder()" class="clean-nav-btn">Clean Folder</button>
                <a href="{{ url_for('index') }}" class="nav-btn">Back to Search</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='decks.js') }}"></script>

</body>
</html>
